* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Schibsted Grotesk', 'sans-serif';
    font-weight: 400;
}

.Container {
    height: 130px;
    width: 100%;
    background-color: #0D0D0D;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.HeaderContainer {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin: 23px 20px 0px 20px;
}

.Training {
    color: #707070;
    font-weight: 500;
    background-color: transparent;
    font-size: calc(0.6vw + 6px);
}

.Date {
    color: #EBEBEB;
    font-weight: 500;
    background-color: transparent;
    font-size: calc(0.6vw + 6px);
}

.Title {
    color: #E71B5A;
    font-weight: 700;
    background-color: transparent;
    font-size: 18px;
    margin: 5px 20px 0px 20px;
    font-size: calc(0.6vw + 8.5px);
}

.Local {
    color: #EBEBEB;
    font-weight: 400;
    background-color: transparent;
    margin: 13px 20px 0px 20px;
    font-size: calc(0.6vw + 8.5px);
}
